// main.scss

html, body {font-family: Georgia, serif; width: 100%; height: 100%; min-height: 100%;}

body {
  /* background-color: rgb(247, 247, 245);
  /* color: rgb(0, 4, 20); */

  background-color: rgb(29, 32, 33);
  color: #c1b493;


  margin:0;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid rgb(58, 62, 65);
  padding: 8px;
}

tr:nth-child(even){background-color: rgb(31, 34, 35);}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(56, 76, 79);
  color: rgb(232, 230, 227);
}

h1 {
  font-family: Cinzel;
}

h2 {
  font-family: Cinzel;
  font-weight: medium;
}

h3, h4, h5, h6 {
	font-family: Cinzel;
  font-weight: normal;
}

blockquote {
  background-image: linear-gradient(to right, rgb(230, 230, 230) , rgb(247, 247, 245));
  color: rgb(95, 115, 110);
  border-left: 4px;
  border-left-style: solid;
  border-left-color: rgb(100, 100, 100);
  padding: 10px;
}

a:link {
  color: lightblue;
}

a:visited
{
  color: indianred;
}

.header {
	text-align: left;
}

.music-card {
  /* Add shadows to create the "card" effect */
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.fig-caption {
  width: 80%;
  margin: auto;
  font-size: 12px;
  text-align: center;
}

.accordion {
  font-family: Cinzel, serif;
  background-color: rgb(29, 32, 33);
  color: rgb(189, 183, 175);
  cursor: pointer;
  padding: 5px;
  padding-right: 15px;
  width: 100%;
  border: none;
  border-width: 2px;
  border-right-style: solid;
  border-color: rgba(64, 69, 71, 0.5);
  text-align: right;
  outline: none;
  font-size: 10px;
  transition: 0.4s;
}

.top-level {
  padding: 15px;
  border: none;
  border-width: 4px;
  border-right-style: solid;
  border-color: rgba(64, 69, 71, 0.5);

  font-size: 15px;
  font-weight: bold;
}

.second-level {
  padding: 10px;
  padding-right: 15px;
  border: none;
  border-width: 3px;
  border-right-style: solid;
  border-color: rgba(124, 115, 101, 0.75);

  font-size: 13px;
}

.accordion:hover {
  background-color: rgb(53, 57, 59);
}

.accordion:after {
  content: '\002B';
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.top-level.active {
  background-color: rgb(53, 57, 59);
  border-color: rgba(124, 115, 101, 0.75);
}

.second-level.active {
  background-color: rgb(44, 47, 49);
  border-color: rgba(124, 115, 101, 0.75);
}

.third-level.active {
  background-color: rgb(38, 41, 43);
  border-color: rgba(124, 115, 101, 0.75);
}

.panel {
  padding: 0px;
  background-color: rgb(24, 26, 27);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.post-list {
	margin: auto;
	padding: 0;
	padding-left: 10px;
	list-style-type: none;
	background-color: rgb(32, 35, 37);

	border-width: 1px;
  border-right-style: solid;
  border-color: rgba(58, 63, 65, 0.25);
}

.post-list li {
	font-size: 10px;
	font-family: Cinzel, serif;

  text-align: left;
  padding-right: 5px;

  border-width: 1px;
  border-bottom-style: hidden;
  border-color: rgba(58, 63, 65, 0.25);
}

.post-list a {
	text-decoration: none;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 5050;
}

.content-footer-area {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-area {
	flex: 1;

	display: flex;
	align-items: flex-start;
 	flex-direction: row-reverse;
 	justify-content: flex-start;
}

nav ul {
  list-style-type: none;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid rgb(55, 59, 62);
  background-color: rgb(31, 33, 35);
  /* background-color: #f3f3f3; */

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: rgb(168, 160, 149) !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(43, 47, 49);
}

.sidenav-container {
  position: sticky;
  top: 50px;
  margin-left: 0px;

  width: 175px;
  background-color: rgb(34, 36, 38);
  overflow-x: hidden;
  padding: 0px 0;
  flex-shrink: 0;
}

.main-card {
	align-self: stretch;

	min-width: 50%;
  max-width: 1300px;
  flex-grow: 0;

	margin-left: 0;
	margin-right: auto;
	padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

	box-sizing: border-box;

	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-color: rgba(107, 99, 88, 0.2);

  line-height: 1.4;
  height: 100%;

	//box-shadow: 4px 0 16px 0 rgba(0, 0, 0, 0.5), -4px 0 16px 0 rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 900px) {

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 25px !important;
  }

  .fig-caption {
    font-size: 10px;
  }
	.content-area {
		display: flex;
    flex: 1;
 		flex-direction: column;
 		height: 100%;
  }
	.main-card {
    font-size: 14px;
		flex-grow: 0;
    width: 100%;
		margin: auto;
	}
	.accordion {
		align-self: stretch;
		width: 100%;

		text-align: left;
		padding-left: 15px;
		border-right-style: none;
		border-left-style: solid;
	  border-color: rgb(29, 32, 33);
	}

	.post-list {
		border-right-style: none;
		border-left-style: solid;
	}

	.sidenav-container {
		margin:	auto;
		width: 100%;

		border-top-width: 3px;
		border-top-style: double;
	  border-right-width: 1px;
		border-right-style: solid;
	  border-right-color: rgba(100, 100, 100, 0.2);
	  border-top-color: rgba(100, 100, 100, 0.2)
	}
}


.footer {
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
   background-color: rgb(38, 41, 43);
   color: rgb(193, 188, 180);

   border-width: 3px;
   border-top-style: solid;
   border-color: rgba(64, 69, 71, 0.85);

   box-shadow: inset 0px 4px 4px 0 rgba(0, 0, 0, 0.5);

   text-align: right;
   font-size: 10px;
}

.footer a {
	text-decoration: underline;
}

.footer a:link {
	color: rgb(204, 210, 219);
}

.footer a:visited {
	color: rgb(204, 210, 219);
}

.post-card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  padding: 16px;
  margin: 10px;
  font-size: 13px;
  background-color: #222626;
}

.post-card:hover {
  background-color: #2b2929;
}
